__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
coverage.xml
htmlcov/
.cache/
.ipynb_checkpoints/
.jupyter/lab/workspaces/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
.env
.env.*
venv/
.venv/
env/
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl
pip-wheel-metadata/
logs/
wandb/
outputs/backbone_ckpt/*
outputs/generated/*
outputs/vqvae_ckpt/*
notebooks/*
src/wandb/
*.log
**/.git/
落盘文件/
cell-eval-outdir/
configs/tmp*
data/*
output/
cytotrace2
!data/mix_meta_info_vq_traj.json
!data/sample_metadata.parquet
!data/*.pkl
!data/*.txt
!notebooks/evaluataion_h5ad_data.ipynb
!notebooks/evaluation_scbasetraj_testset.ipynb
!notebooks/evaluataion_landscape.ipynb